
Backend/node_modules/
Frontend/node_modules/


Backend/.env
Frontend/.env

.git


# Frontend-specific (Vite React)
Frontend/node_modules/
Frontend/dist/

# Backend-specific (Express, Node.js)
Backend/node_modules/
Backend/.env
.git
